<main id="page-content-wrapper" role="main">
  <h2>Articles Management</h2>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Title</th>
        <th>Image</th>
        <th>Content</th>
        <th>Accept The Post</th>
        <th>Release Date</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |n| %>
        <tr>
          <td><%= n.user.name %></td>
          <td><%= n.title %></td>
          <td>
            <% if n.image? %>
              <%= image_tag n.image.url,
                class: "img-responsive img-thumbnail img-circle",
                style: "width:100px;height:100px" %>
            <% end %>
          </td>
          <td><%= n.content %></td>
          <td id="status_<%= n.id %>">
            <%= hidden_field_tag :current_status, n.status, class: "current_status" %>
            <%= hidden_field_tag :current_article, n.id, class: "current_article" %>
            <span class="change_status">
              <i class="fa fa-key"></i> 
              <i><%= Article::STATUSES[n.status] %></i>
            </span>
          </td>
          <td>
            <%= n.public_time %>
          </td>
          <td>
            <%= link_to edit_admin_article_path(n.id) do %>
            <i class="glyphicon glyphicon-edit"></i>
            <% end %>
          </td>
          <td>
            <%= link_to admin_article_path(n.id) ,
              method: :delete, data: {confirm: "Sure"} do  %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @articles, theme: "twitter-bootstrap-3" %>  
</main>
