<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-thumbnail">
      <%= link_to user_path(current_user.id) do %>
        <% if current_user.image? %>
          <%= image_tag current_user.image.url, class: "img-responsive" %>
        <% else %>
          <center>
            <%= image_tag "user2.png", class: "img-responsive",
              style: "width:100px;height:100px" %>
          </center>
        <% end %>
      <% end %>
    </div>
    <div class="panel-body">
      <%= link_to user_path(current_user.id) do %>
        <p class="lead"><%= current_user.name %></p>
      <% end %>
      <p>45 Followers, 13 Posts</p>
    </div>
  </div>
  <div class="well"> 
    <form class="form-horizontal" role="form">
      <h4>What's New</h4>
        <div class="form-group" style="padding:14px;">
        <textarea class="form-control" placeholder="Update your status"></textarea>
      </div>
      <button class="btn btn-primary pull-right" type="button">Post</button>
      <ul class="list-inline">
        <li>
          <a href="">
            <i class="glyphicon glyphicon-upload"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="glyphicon glyphicon-camera"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="glyphicon glyphicon-map-marker"></i>
          </a>
        </li>
      </ul>
    </form>
  </div>                          		
</div>
