<%= render "pages/content_left" %>
<div class="col-sm-8">
  <h2 style="color:blue"><i class="fa fa-newspaper-o"></i> Bảng tin</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" class="pull-right">10h ago</a> 
      <h4>Phạm Tất Đạt</h4>
    </div>
    <div class="panel-body">
      <center>
        <%= image_tag "imgtest.jpg", class: "img-responsive" %>
      </center>
      <div class="clearfix"></div>
      <hr>
      <p>If you're looking for help with Bootstrap code, the 
        <code>twitter-bootstrap</code> tag at 
        <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">
          Stackoverflow
        </a> 
        is a good place to find answers.
      </p>
      <hr>
      <form>
        <div class="input-group">
          <div class="input-group-btn">
          <button class="btn btn-default">+1</button>
          <button class="btn btn-default">
            <i class="glyphicon glyphicon-share"></i>
          </button>
          </div>
          <input type="text" class="form-control" placeholder="Add a comment..">
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-thumbnail">
      <%= image_tag "imgtest.jpg", class: "img-responsive" %>
    </div>
    <div class="panel-body">
      <p class="lead">Gái xinh</p>
      <p>1,200 Followers, 83 Posts</p>
      <p>
        <%= image_tag "cicrle.jpg", style: "width: 28px; height: 28px" %>
        <%= image_tag "kc.jpg", style: "width: 28px; height: 28px" %>
        <%= image_tag "map.jpg", style: "width: 28px; height: 28px" %>
      </p>
    </div>
  </div>
</div>
