<!DOCTYPE html>
<html>
  <head>
    <title>WebsiteFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "admin/layouts/header" %>
      <div id="flash" style="text-align: center">
        <% flash.each do |message_type, message| %>
          <div style="background-color:darkgreen;color:white">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div id="wrapper">
        <%= render "admin/layouts/sidebar" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
