<!DOCTYPE html>
<html>
  <head>
    <title>WebsiteFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <% if user_signed_in? %>
        <div class="wrapper">
          <div class="box">
            <div class="row row-offcanvas row-offcanvas-left rrr">
              <%= render "pages/sidebar" %>
              <div class="column col-sm-10 col-xs-11 load_article" id="main">
                <%= render "pages/header" %>
                <div class="padding">
                  <div class="full col-sm-9">
                    <div class="row">
                      <div id="flash" style="text-align: center">
                        <% flash.each do |message_type, message| %>
                          <div class="alert alert-<%= message_type %>">
                            <%= message %>
                          </div>
                        <% end %>
                      </div>
                      <%= yield %>
                    </div>
                    <%= render "pages/footer" %>
                  </div>
                </div>
                <div id="result_search"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  Update Status
              </div>
              <%= form_for @article, class: "form center-block" do |f| %>
                <div class="modal-body">
                  <% if flash[:danger].present? %>
                    <div class="form-group" style="color:red; margin-left: 20px;">
                      Do not blank title/content/public_date
                    </div>
                  <% end %>
                  <div class="form-group">
                    <%= f.text_field :title,
                      class: "form-control input-lg",
                      autofocus: "", placeholder: "Title" %>
                  </div>
                  <div class="form-group">
                    <%= f.text_area :content,
                      class: "form-control input-lg", rows: 10,
                      autofocus: "", placeholder: "What do you want to share?" %>
                  </div>
                  <div class="form-group">
                    <%= f.datetime_local_field :public_time, class: "form-control input-lg" %>
                  </div>
                  <div class="form-group">
                    <img id="blah" src="" style="display:none" class="form-control" />
                  </div>
                </div>
                <div class="modal-footer">
                  <div>
                    <ul class="pull-left list-inline">
                      <li>
                        <a href="">
                          <i class="glyphicon glyphicon-upload"></i>
                        </a>
                      </li>
                      <li></li>
                      <li>                         
                        <label id="#bb">
                          <i class="fa fa-image"></i>
                          <%= f.file_field :image, id: "imgInp",
                            accept: 'image/jpeg,image/gif,image/png' %>
                        </label>
                      </li>
                      <li>
                        <span id="upload_image">
                          <i class="glyphicon glyphicon-map-marker"></i>
                        </span>
                      </li>
                    </ul>
                    <%= f.submit "Post", class: "btn btn-primary btn-sm" %>
                  </div>	
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%= render "articles/modal" %>
      <% else %>
        <%= yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>
  </body>
  <% if flash[:danger].present?  %>
    <script>
      $(document).on('turbolinks:load', function(){
        $("#postModal").modal();
      });
    </script>
<% end %>
</html>
