<!DOCTYPE html>
<html>
  <head>
    <title>WebsiteFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <% if user_signed_in? %>
        <div class="wrapper">
          <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">
              <%= render "pages/sidebar" %>
              <div class="column col-sm-10 col-xs-11" id="main">
                <%= render "pages/header" %>
                <div class="padding">
                  <div class="full col-sm-9">
                    <div class="row">
                      <div id="flash" style="text-align: center">
                        <% flash.each do |message_type, message| %>
                          <div class="alert alert-<%= message_type %>">
                            <%= message %>
                          </div>
                        <% end %>
                      </div>
                      <%= yield %>
                    </div>
                    <%= render "pages/footer" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  Update Status
              </div>
              <%= form_tag add_new_status_path, method: :post,
                class: "form center-block" do %>
                <%= hidden_field_tag :user_id, current_user.id %>
                <div class="modal-body">
                  <div class="form-group">
                    <%= text_field_tag :title, params[:title],
                      class: "form-control input-lg",
                      autofocus: "", placeholder: "Title" %>
                  </div>
                  <div class="form-group">
                    <%= text_area_tag :content, params[:content],
                      class: "form-control input-lg", rows: 10,
                      autofocus: "", placeholder: "What do you want to share?" %>
                  </div>
                  <div class="form-group">
                    <img id="blah" src="#" style="display:none" class="form-control" />
                  </div>
                </div>
                <div class="modal-footer">
                  <div>
                    <%= submit_tag "Post", class: "btn btn-primary btn-sm" %>
                    <ul class="pull-left list-inline">
                      <li>
                        <a href="">
                          <i class="glyphicon glyphicon-upload"></i>
                        </a>
                      </li>
                      <li></li>
                      <li>                         
                        <form id="form1" runat="server">
                          <label id="#bb">
                            <i class="fa fa-image"></i>
                            <%= file_field_tag :image, id: "imgInp",
                              accept: 'image/jpeg,image/gif,image/png' %>
                          </label>
                        </form>
                      </li>
                      <li>
                        <span id="upload_image">
                          <i class="glyphicon glyphicon-map-marker"></i>
                        </span>
                      </li>
                    </ul>
                  </div>	
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <%= yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>
  </body>

<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{your-app-id}',
        cookie     : true,
        xfbml      : true,
        version    : '{api-version}'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</html>
